
/* NavBar */
.bd-navbar {
    background: #F5DB13;
    box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
}
.nav-link{
    color: #212121!important;
}

/* rec */
.rect{
    background: linear-gradient(180deg, #F5DB13 0%, #F2B807 100%);
}

/* section */
.section-1{
    margin-left: 20%;
}
.title{
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 4px;
    color: #000000;
}
.bold{
    font-weight: bold;
}
.subTitle{
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 37px;
}

.botonPokemon{
    background: #73D677!important;
    box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;

    font-weight: 400;
    color: #212529;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

/* banner */
.banner{
    padding: 0!important;
}
.imgBanner{
    max-width: 100%;
    display: block;
    margin-left: auto;
}

