// Define variable defaults
$body-bg: #fff;
$body-color: #111;

:root{
    --Primary-color:#F2B807;
    --Second-color:#F28F16;
    --Third-color:#F5DB13;
    --Danger-color:#D93E30;
    --White-color:#D93E30;
    --Dark-color:#212121;
}

@font-face {
    font-family: SourceSansPro;
    src: url('~@/assets/fonts/SourceSansPro-Regular.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

h1{
    font-size: 72px !important; 
    font-family: 'Karla', sans-serif;
    font-weight: 500 !important;
}
h2{font-size:64px;}
h3{font-size: 36px;}
h4{font-size: 24px;}
h5{font-size: 18px;}
h6{font-size: 12px;}
p{font-size: 16px;}

@media (min-width: 1200px){
    .container{
        max-width: 1300px;
    }
}